## backups
*~
*#
*.orig
*.swp

## installer
*.bin
*.run

## ignore output folder
workspace
download

## docker base image
ubu*04
peta-*

## docker environment
docker/configs/.Xilinx/*
docker/configs/.petalinux-sys.env
.env
